body{
    background-color: #e2bec1;
    font-family: nunito, sans-serif;
}
.navbar-scrolled{
    background-color: #ce9298;
}
.navbar{
    transition: .5s;
}

a:hover{
    color: rgb(255, 98, 98) !important;
}

/* attempted media query breakpoint but wasn't needed */
/* @media (max-width: 1200px){
    .row h1{
        font-size: 2em;
    }
} */